<h1>Hello!</h1>

<h1>Chess is Cool!</h1>

<%= link_to 'Start at New Game', new_game_path %>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0&appId=485451245621655&autoLogAppEvents=1"></script>


<div class="fb-login-button" data-width="" data-size="large" data-auto-logout-link="false" data-use-continue-as="false"></div> 