// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.black-square {
  background: #999999;
  width: 670px;
}

.board {
  width: 670px;
  height: 670px;
  margin: 20px auto;
  border-collapse: collapse;
  border: 15px solid #595959;
}

td {
  width: 80px;
  height: 80px;
}
