// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.black-square {
  background: #999999;
  width: 620px;
}

.board {
  width: 620px;
  margin: 20px auto;
  border-collapse: collapse;
  border: 15px solid #595959;
}

td {
  width: 80px;
  height: 80px;
}

.piece {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 80%;
}

.piece:active {
  border: solid 2px yellow; 
}